.container {
}

.title {
  margin: 50px 0px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  width: 15%;
  height: 80px;
  justify-content: center;
  border-radius: 10px;
}

.category.Dotnet {
  background-color: #57c4ff31;
}

.category.Javascript {
  background-color: #da85c731;
}

.category.NodeJs {
  background-color: #7fb88133;
}

.category.ReactJs {
  background-color: #ff795736;
}

.category.Gaming {
  background-color: #ffb04f45;
}

.category.Hacking {
  background-color: #5e4fff31;
}

.image {
  border-radius: 50%;
}

@media screen and (max-width: 1280px) {
  .category {
    width: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .category {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .category {
    width: 45%;
  }
}
@media screen and (max-width: 640px) {
  .category {
    width: 45%;
  }
}
